<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
       
    <style>
        body {
            margin: 0;
            padding: 0;
            font-family: 'Arial', sans-serif;
        }

        .top-bar {
            background-color: white;
            color: black;
            padding: 5px;
            text-align: right;
            height: 50px;
            position: relative;
            margin-left: 100px;
        }

        .top-nav {
            padding-top: 20px;
            padding-right: 150px; 
            display: flex;
            float: right;
        }

        .top-nav a {
            color: black;
            text-decoration: none;
            padding: 0 15px;
            }

        .container {
            display: flex;
        }
        #collapse-hsidebar{
            float: right;
            margin-top: 15px;
        }
        .sidebar {
            width: 300px;
            height: 100vh;
            background-color: white;
            padding: 20px 20px 20px 60px;
            transition: transform 0.3s ease-in-out;
        }
        .HSidebar{
            display: none;
            padding-top: 100px;
        }
        .sidebar ul {
            list-style: none;
            padding: 0;
            width: 100%;
        }

        .sidebar li {
            margin-bottom: 25px;
            width: 100%;
        }

        .sidebar a {
            text-decoration: none;
            color: #333;
            width: 100%;
        }

        .content {
            flex: 1;
            margin-top: 30px;
            width: 1000px;
        }

        #toggle-sidebar {
            display: none;
            position: absolute;
        }

        /* Media Query for small screens */
        @@media (max-width: 908px) {
            #toggle-sidebar {
                display: block;
                position: absolute;
                left: -80px;
                margin-top: 20px;
            }

            .sidebar {
                display: none;
            }
            .footer {
                margin-bottom: -5px;
            }
        }
        .HSidebar.HSidebar-visible {
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 300px;
            height: 100%;
            background-color: white;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            z-index: 1000;
            transition: left 0.3s ease-in-out;
        }

        .HSidebar ul {
            margin-top: 270px;
            margin-left: 170px;
            transform: translate(-50%, -50%);
            list-style: none;
            width: 100%;
        }


        .HSidebar {
            display: block;
            position: fixed;
            top: 0;
            left: -300px; /* Initially off-screen on the left */
            width: 200px; /* Set the width to be the same as .sidebar */
            height: 100%;
            background-color: #333;
            padding: 20px;
            box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
            transition: left 0.5s ease-in-out;
            z-index: 1000;
        }

        .HSidebar ul {
            list-style: none;
            padding: 0;
        }

        .HSidebar li {
            margin-bottom: 25px;
        }

        .HSidebar a {
            text-decoration: none;
            color: black;
        }
        .footer {
            margin-top: auto;
            padding: 20px;
            background-color: #f4f4f4;
            border-top: 1px solid #ccc;
        }
        .profile{
            width: 40px;
            border-radius: 50px;
            height: 40px;
            background-color: #bebbbb;
            margin-top: -25px;
            margin-right: -10px;
        }
        .profile p{
            font-size: 16px;
            text-align: center;
            padding-top: 10px;
        }
        a img{
        margin-right: 15px;
        margin-bottom: -5px;
        }
        .bell {
            margin-top: -15px;
            margin-right: -25px;

        }
        .user {
            margin-right: -15px;
        }
    </style>
</head>
<body>
<div class="top-bar">
    <button id="toggle-sidebar" onclick="toggleSidebar()">☰</button>
    <div class="top-nav">
            
                <a href="#"><img class="bell" src="@Url.Content("~/Images/Icons/Bell.png")" width="50px" /></a>
                
                    <a href="#">
                        <div class="profile">
                            <p>BM</p>
                        </div>
                    </a>

                <a class="user" href="#">Binyam Mekonnen</a>
                <a href="#"><img src="@Url.Content("~/Images/Icons/Arrow.png")" width="20px"/></a>
            
    </div>
</div>

<div class="container">
    <div class="sidebar" id="sidebar">
        <ul>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Home.png")" width="30px"/>Home</a></li>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Insights.png")" width="30px"/>Insights</a></li>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Category.png")" width="30px"/>Category</a></li>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Budget.png")" width="30px"/>Budget</a></li>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Recurring Payments.png")"width="30px"/>Recurring Payments</a></li>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Loan and Debt.png")" width="30px"/>Loan & Debt</a></li>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Goal.png")" width="30px"/>Goal</a></li>
            <li><a href="#"><img src="@Url.Content("~/Images/Icons/Occasion.png")" width="30px"/>Occasion</a></li>
        </ul>
    </div>
    <div class="HSidebar">
        <button id="collapse-hsidebar" onclick="collapseHSidebar()"> ☰</button>
        <ul>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Home.png" width="30px" />Home</a></li>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Insights.png" width="30px" />Insights</a></li>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Category.png" width="30px" />Category</a></li>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Budget.png" width="30px" />Budget</a></li>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Recurring Payments.png" width="30px" />Recurring Payments</a></li>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Loan and Debt.png" width="30px" />Loan & Debt</a></li>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Goal.png" width="30px" />Goal</a></li>
                <li><a href="#"><img src="../../wwwroot/Image/Icons/Occasion.png" width="30px" />Occasion</a></li>
        </ul>
    </div>
    <div class="overlay"></div>
    <div class="content">
        <div class="container bodyContainer">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
    </div>
</div>
        <!-- Footer -->
        <footer class="border-top footer text-muted">
            <div class="container">
                &copy; 2023 - TrackWallet - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
            </div>
        </footer>
<!-- Scripts -->
<script>
    function toggleSidebar() {
        var hiddenSidebar = document.querySelector(".HSidebar");


        // Toggle the visibility of the hidden sidebar
        hiddenSidebar.classList.toggle("HSidebar-visible");
    }

    function collapseHSidebar() {
        var hiddenSidebar = document.querySelector(".HSidebar");

        // Hide the hidden sidebar
        hiddenSidebar.classList.remove("HSidebar-visible");
    }

</script>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
<script src="https://cdn.tiny.cloud/1/yqf8pl0fr00reb7419cy8a30rw2hop33mzhoqxk1kx1mcm2c/tinymce/6/tinymce.min.js" referrerpolicy="origin"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>
